In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key
# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
#load csv into dataframe
load_csv = "output_data/cities.csv"
city_df = pd.read_csv(load_csv)
city_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Hobart,100,AU,1569513989,71,-42.88,147.33,53.01,10.29
1,Hay River,75,CA,1569513990,66,60.82,-115.79,32.00,11.21
2,Rikitea,41,PF,1569513992,73,-23.12,-134.97,71.23,10.18
3,Carutapera,86,BR,1569513993,64,-1.20,-46.02,85.99,9.04
4,Soyo,40,AO,1569513994,78,-6.13,12.37,80.60,10.29

In [125]:
#humidity heatmap

locations = city_df[["Lat", "Lng"]]
humidity = city_df['Humidity'].astype(int)


# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Create new DataFrame fitting weather criteria
# max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness.

narrowed_city_df = city_df.copy()
narrowed_city_df = narrowed_city_df[narrowed_city_df['Max Temp'] >= 70]
narrowed_city_df = narrowed_city_df[narrowed_city_df['Max Temp'] <= 80]  
narrowed_city_df = narrowed_city_df[narrowed_city_df['Wind Speed'] <= 10]
narrowed_city_df = narrowed_city_df[narrowed_city_df['Cloudiness'] == 0]
narrowed_city_df = narrowed_city_df.dropna()
narrowed_city_df = narrowed_city_df.reset_index()
narrowed_city_df

,index,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,27,Carnarvon,0,ZA,1569514022,8,-30.97,22.13,76.45,8.50
1,99,Kruisfontein,0,ZA,1569514118,28,-34.00,24.73,79.87,4.21
2,131,San Patricio,0,PY,1569514160,35,-26.98,-56.83,78.43,5.46
3,152,Hami,0,CN,1569514188,16,42.84,93.51,74.11,5.06
4,153,Tautira,0,PF,1569514189,78,-17.73,-149.15,75.20,3.36
5,154,Tezu,0,IN,1569514191,83,27.93,96.16,70.33,3.98
6,167,Guane,0,CU,1569514208,72,22.20,-84.09,79.69,8.32
7,181,Saldanha,0,PT,1569514226,27,41.42,-6.55,75.91,2.10
8,224,Shenjiamen,0,CN,1569514287,73,29.96,122.30,71.77,6.80
9,236,Garlasco,0,IT,1569514304,60,45.20,8.92,77.00,3.36
10,237,Shu,0,KZ,1569514305,24,43.60,73.76,70.87,6.60
11,270,Sabang,0,PH,1569514348,92,13.80,121.11,78.01,1.52
12,273,Sao Borja,0,BR,1569514351,47,-28.66,-56.00,75.37,7.72
13,284,Torbat-e Jam,0,IR,1569514366,16,35.24,60.63,73.03,4.12
14,366,Azul,0,AR,1569514476,35,-36.78,-59.86,78.01,1.99
15,440,Calama,0,CL,1569514593,6,-22.46,-68.93,78.01,8.05
16,480,Swellendam,0,ZA,1569514586,23,-34.02,20.44,75.20,4.70
17,510,Kitab,0,UZ,1569514688,46,39.12,66.88,73.40,2.24
18,538,Mulege,0,MX,1569514733,59,26.88,-111.98,77.71,2.71
19,567,Baherden,0,TM,1569514772,21,38.44,57.43,72.31,6.26

In [112]:
# create hotel_df with hotel name column
hotel_df = narrowed_city_df
hotel_df["Hotel Name"] = np.nan
hotel_df = hotel_df.drop(columns='index')
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,Carnarvon,0,ZA,1569514022,8,-30.97,22.13,76.45,8.50,NaN
1,Kruisfontein,0,ZA,1569514118,28,-34.00,24.73,79.87,4.21,NaN
2,San Patricio,0,PY,1569514160,35,-26.98,-56.83,78.43,5.46,NaN
3,Hami,0,CN,1569514188,16,42.84,93.51,74.11,5.06,NaN
4,Tautira,0,PF,1569514189,78,-17.73,-149.15,75.20,3.36,NaN
5,Tezu,0,IN,1569514191,83,27.93,96.16,70.33,3.98,NaN
6,Guane,0,CU,1569514208,72,22.20,-84.09,79.69,8.32,NaN
7,Saldanha,0,PT,1569514226,27,41.42,-6.55,75.91,2.10,NaN
8,Shenjiamen,0,CN,1569514287,73,29.96,122.30,71.77,6.80,NaN
9,Garlasco,0,IT,1569514304,60,45.20,8.92,77.00,3.36,NaN
10,Shu,0,KZ,1569514305,24,43.60,73.76,70.87,6.60,NaN
11,Sabang,0,PH,1569514348,92,13.80,121.11,78.01,1.52,NaN
12,Sao Borja,0,BR,1569514351,47,-28.66,-56.00,75.37,7.72,NaN
13,Torbat-e Jam,0,IR,1569514366,16,35.24,60.63,73.03,4.12,NaN
14,Azul,0,AR,1569514476,35,-36.78,-59.86,78.01,1.99,NaN
15,Calama,0,CL,1569514593,6,-22.46,-68.93,78.01,8.05,NaN
16,Swellendam,0,ZA,1569514586,23,-34.02,20.44,75.20,4.70,NaN
17,Kitab,0,UZ,1569514688,46,39.12,66.88,73.40,2.24,NaN
18,Mulege,0,MX,1569514733,59,26.88,-111.98,77.71,2.71,NaN
19,Baherden,0,TM,1569514772,21,38.44,57.43,72.31,6.26,NaN

In [130]:
#search googleplaces for hotels within 5000 meters
#list for hotel names
hotels = []
#checker variable
x = 0

# for loop to search through city coords
for cities in hotel_df['City']:
    target_coordinates = str(hotel_df['Lat'][x])+' , '+str(hotel_df['Lng'][x])
    x+=1
    target_radius = 5000
    target_type = 'lodging'
    params = {
    "location": target_coordinates,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
    }
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# try/except to check if a city turns up    
    try:
        response = requests.get(base_url, params=params)
        hotel_results = response.json()
        hotels.append(hotel_results['results'][0]['name'])
        
    except IndexError:
        hotels.append(np.nan)

#append dataframe with hotel names
hotel_df['Hotel Name'] = hotels
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,Carnarvon,0,ZA,1569514022,8,-30.97,22.13,76.45,8.50,Tip Top Guesthouses
1,Kruisfontein,0,ZA,1569514118,28,-34.00,24.73,79.87,4.21,Oyster Bay House Rental
2,San Patricio,0,PY,1569514160,35,-26.98,-56.83,78.43,5.46,Posada Doña Antonia
3,Hami,0,CN,1569514188,16,42.84,93.51,74.11,5.06,Post And Telecommunication Hotel
4,Tautira,0,PF,1569514189,78,-17.73,-149.15,75.20,3.36,Pension OAOA
5,Tezu,0,IN,1569514191,83,27.93,96.16,70.33,3.98,Circuit House
6,Guane,0,CU,1569514208,72,22.20,-84.09,79.69,8.32,base de Campismo LosPortales de Guane
7,Saldanha,0,PT,1569514226,27,41.42,-6.55,75.91,2.10,NaN
8,Shenjiamen,0,CN,1569514287,73,29.96,122.30,71.77,6.80,Jinjiang Inn Zhoushan Putuo Shenjiamen
9,Garlasco,0,IT,1569514304,60,45.20,8.92,77.00,3.36,I Diamanti Hotel
10,Shu,0,KZ,1569514305,24,43.60,73.76,70.87,6.60,Shyngyzkhan
11,Sabang,0,PH,1569514348,92,13.80,121.11,78.01,1.52,SM TRAVELODGE
12,Sao Borja,0,BR,1569514351,47,-28.66,-56.00,75.37,7.72,Hotel Executivo
13,Torbat-e Jam,0,IR,1569514366,16,35.24,60.63,73.03,4.12,مرکز چاپ و برش لیزری آبتین
14,Azul,0,AR,1569514476,35,-36.78,-59.86,78.01,1.99,Cabañas Dulcinea
15,Calama,0,CL,1569514593,6,-22.46,-68.93,78.01,8.05,Park Hotel Calama
16,Swellendam,0,ZA,1569514586,23,-34.02,20.44,75.20,4.70,De Kloof Luxury Estate boutique Hotel & SPA
17,Kitab,0,UZ,1569514688,46,39.12,66.88,73.40,2.24,KITOB SAYYOH
18,Mulege,0,MX,1569514733,59,26.88,-111.98,77.71,2.71,Casa Granada
19,Baherden,0,TM,1569514772,21,38.44,57.43,72.31,6.26,NaN

In [134]:
#clean up DataSet by remooving NAN
hotel_df_clean = hotel_df.dropna()
hotel_df_clean

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,Carnarvon,0,ZA,1569514022,8,-30.97,22.13,76.45,8.50,Tip Top Guesthouses
1,Kruisfontein,0,ZA,1569514118,28,-34.00,24.73,79.87,4.21,Oyster Bay House Rental
2,San Patricio,0,PY,1569514160,35,-26.98,-56.83,78.43,5.46,Posada Doña Antonia
3,Hami,0,CN,1569514188,16,42.84,93.51,74.11,5.06,Post And Telecommunication Hotel
4,Tautira,0,PF,1569514189,78,-17.73,-149.15,75.20,3.36,Pension OAOA
5,Tezu,0,IN,1569514191,83,27.93,96.16,70.33,3.98,Circuit House
6,Guane,0,CU,1569514208,72,22.20,-84.09,79.69,8.32,base de Campismo LosPortales de Guane
8,Shenjiamen,0,CN,1569514287,73,29.96,122.30,71.77,6.80,Jinjiang Inn Zhoushan Putuo Shenjiamen
9,Garlasco,0,IT,1569514304,60,45.20,8.92,77.00,3.36,I Diamanti Hotel
10,Shu,0,KZ,1569514305,24,43.60,73.76,70.87,6.60,Shyngyzkhan
11,Sabang,0,PH,1569514348,92,13.80,121.11,78.01,1.52,SM TRAVELODGE
12,Sao Borja,0,BR,1569514351,47,-28.66,-56.00,75.37,7.72,Hotel Executivo
13,Torbat-e Jam,0,IR,1569514366,16,35.24,60.63,73.03,4.12,مرکز چاپ و برش لیزری آبتین
14,Azul,0,AR,1569514476,35,-36.78,-59.86,78.01,1.99,Cabañas Dulcinea
15,Calama,0,CL,1569514593,6,-22.46,-68.93,78.01,8.05,Park Hotel Calama
16,Swellendam,0,ZA,1569514586,23,-34.02,20.44,75.20,4.70,De Kloof Luxury Estate boutique Hotel & SPA
17,Kitab,0,UZ,1569514688,46,39.12,66.88,73.40,2.24,KITOB SAYYOH
18,Mulege,0,MX,1569514733,59,26.88,-111.98,77.71,2.71,Casa Granada

In [135]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df_clean.iterrows()]
locations = hotel_df_clean[["Lat", "Lng"]]

In [136]:
# Add marker layer ontop of heat map and display
fig = gmaps.figure()
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))